@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Colors */
/* Padding & Margin */
/* Borders */
/* Shadows */
.restaurants, .howItWorks {
  padding: 3rem 1.25rem 3.75rem 1.25rem;
}

.menu__card, .fav__fill-heart, .fav__empty-heart, .howItWorks__card:hover, .localisation, button {
  cursor: pointer;
}

button {
  height: 3.1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  border: none;
  border-radius: 1.6rem;
  background-color: #9356DC;
  font-weight: bold;
  color: white;
}
button:hover {
  background: linear-gradient(#FF79DA, #a16be0);
}

@font-face {
  font-family: "Roboto";
  src: url(/Ressources/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/Ressources/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Shrikhand";
  src: url(/Ressources/fonts/Shrikhand/Shrikhand-Regular.ttf);
}
body {
  font-family: "Roboto";
}

.explore__text {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
}

.menu__card__effect::after, .howItWorks__card p::before, .localisation::before, .footer a:nth-of-type(2)::before, .footer a:first-of-type::before, .arrow::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.menu__card, .restaurants__card, .howItWorks__card {
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden;
}
.howItWorks__card {
  background-color: #f6f6f6;
}
.menu__card:hover, .restaurants__card:hover, .howItWorks__card:hover {
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.4);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.75rem;
}
header h1 {
  font-family: "Shrikhand";
  font-weight: normal;
}
header h1:hover {
  color: #9356DC;
}

.arrow::before {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 1.5rem;
}

.arrow:hover::before {
  color: #9356DC;
}

.footer {
  padding: 1.6rem 1.25rem 2.2rem 1.25rem;
  margin-bottom: 1.25rem;
  color: white;
  background-color: #353535;
}
.footer__heading {
  font-family: "Shrikhand";
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 1rem;
}
.footer a {
  display: block;
  margin-bottom: 0.3rem;
  color: white;
}
.footer a:hover {
  color: #99E2D0;
}

.footer a:first-of-type::before {
  margin-right: 1rem;
  content: "";
}

.footer a:nth-of-type(2)::before {
  margin-right: 0.55rem;
  content: "";
}

/*---------------------------------------- Localisation ----------------------------------------*/
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3.1rem;
  font-weight: bold;
  color: #000000a6;
  background-color: #eaeaea;
  box-shadow: inset 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}
.localisation::before {
  content: "";
  margin-right: 0.5rem;
}

/*---------------------------------------- Explore ----------------------------------------*/
.explore {
  text-align: center;
  background-color: #f6f6f6;
  padding: 2.5rem 1.25rem 3rem 1.25rem;
}
.explore__heading {
  margin-bottom: 1.25rem;
}
.explore__text {
  margin-bottom: 1.9rem;
}

/*---------------------------------------- How it works ----------------------------------------*/
.howItWorks__heading {
  margin-bottom: 1.6rem;
}
.howItWorks__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: visible;
  margin-left: 0.8rem;
  margin-bottom: 1.6rem;
  height: 4.7rem;
}
.howItWorks__card::before {
  /* Numéros */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  left: -0.8rem;
  color: white;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: #9356DC;
}
.howItWorks__card:hover {
  background-color: #f5edff;
}
.howItWorks__card:hover > p::before {
  color: #9356DC;
}
.howItWorks__card p {
  font-weight: bold;
  margin-left: 5rem;
}
.howItWorks__card p::before {
  /* Icones */
  content: "";
  position: absolute;
  left: 3rem;
  color: #7e7e7e;
  margin-right: 1rem;
}

.howItWorks__card:last-of-type {
  margin-bottom: 0;
}

/* 1,2,3 */
.howItWorks__card:first-of-type::before {
  content: "1";
}

.howItWorks__card:nth-of-type(2)::before {
  content: "2";
}

.howItWorks__card:last-of-type::before {
  content: "3";
}

/* Icons */
.howItWorks__card p:first-of-type:before {
  content: "";
}

.howItWorks__card:nth-of-type(2) p::before {
  content: "";
}

.howItWorks__card:last-of-type p::before {
  content: "";
}

/*---------------------------------------- Restaurants ----------------------------------------*/
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 1.1rem;
}
.restaurants__heading {
  margin-bottom: 0.3rem;
}
.restaurants__card {
  position: relative;
}
.restaurants__card img {
  display: block;
  width: 100%;
  height: 11rem;
  object-fit: cover;
}
.restaurants__card__label {
  position: relative;
  padding: 1rem 1.2rem;
  background-color: white;
}
.restaurants__card__label h3 {
  margin-bottom: 0.3rem;
}
.restaurants__card__new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  position: absolute;
  z-index: 1000;
  top: 0.7rem;
  right: 0.7rem;
  border-radius: 0.3rem;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9rem;
}

/* ---------------------------------------- Fav animation --------------------------------------------*/
.fav {
  position: absolute;
  font-size: 1.5rem;
  right: 1.5rem;
  top: 1.5rem;
  line-height: 0;
}
.fav__empty-heart {
  position: absolute;
  right: 0;
  transition: transform 0.4s;
}
.fav__fill-heart {
  position: relative;
  transform: scale(0);
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fav:hover .fav__empty-heart {
  transform: scale(0);
}

.fav:hover .fav__fill-heart {
  animation: scale 0.4s forwards;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/*------------------------------------------- LOADER --------------------------------------------*/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 375px;
  height: 100%;
  z-index: 10000;
  background-color: #99E2D0;
  animation: 1.5s loader 3s ease-in-out forwards;
  transform-origin: top;
}
.loader__heading {
  position: absolute;
  top: 1rem;
  color: white;
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 3rem;
}
.loader__icon {
  color: white;
  font-size: 4rem;
  animation: spin 0.7s linear 3, fadeOut 2.5s forwards;
}
.loader__open {
  position: absolute;
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 4rem;
  color: white;
  border: 0.5rem solid white;
  border-radius: 1rem;
  line-height: 3rem;
  padding: 0.3rem 1.5rem 0 1rem;
  transform: rotate(-8deg);
  animation: opening 1s 2.5s backwards;
}

@keyframes loader {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-30vh);
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  90% {
    transform: translateY(-60vh);
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  100% {
    transform: translateY(-100vh);
    animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.thumb {
  height: 16.25rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -2rem;
  /* superpose le menu et l'image */
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  padding: 1.25rem;
  gap: 1rem;
}
.menu__heading {
  position: relative;
  font-size: 1.6rem;
  font-family: "Shrikhand";
  font-weight: 100;
}
.menu__category {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  width: fit-content;
  margin-top: 1rem;
  border-bottom: 0.15rem solid #99E2D0;
}
.menu__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.25rem;
}
.menu__card div {
  width: 80%;
  padding-left: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__card__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  font-weight: bold;
  top: 0.6rem;
  width: 20%;
}
.menu__card__details {
  font-size: 0.8rem;
}
.menu__button {
  width: 11.5rem;
  margin: 2rem auto 2.5rem auto;
}

/*------------------------------------- Animation: Fade In --------------------------------------------*/
.menu__card, .menu__category {
  animation: fadeIn 1s ease-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

.card2 {
  animation-delay: 0.2s;
}

.card3 {
  animation-delay: 0.4s;
}

.menu__category:nth-of-type(2) {
  animation-delay: 0.6s;
}

.card4 {
  animation-delay: 0.6s;
}

.card5 {
  animation-delay: 0.8s;
}

.card6 {
  animation-delay: 1s;
}

.menu__category:last-of-type {
  animation-delay: 1.2s;
}

.card7 {
  animation-delay: 1.2s;
}

.card8 {
  animation-delay: 1.4s;
}

.card9 {
  animation-delay: 1.6s;
}

.card10 {
  animation-delay: 1.8s;
}

@keyframes fadeIn {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*--------------------------------------- Animation : Coche -------------------------------------------*/
.menu__card__effect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 100%;
  background-color: #99E2D0;
  transition: width 0.5s;
}

.menu__card__effect::after {
  color: white;
  font-size: 1.6rem;
  content: "";
}

.menu__card:hover > .menu__card__effect {
  width: 25%;
}

.menu__card:hover > .menu__card__effect::after {
  transform: rotate(360deg);
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
