@import "./base/reset";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/buttons";
@import "./base/typography";
@import "./components/cards";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/homePage";
@import "./pages/restaurantsPages";


.loader {
    @include flexBox(row, center, center);
    position: fixed;
    top: 0;
    width: 100vh;
    max-width: 375px;
    height: 100%;
    z-index: 10000;
    background-color: $tertiary-color;
    animation: 1.5s loader 4s ease-in-out forwards;
    transform-origin: top;
    &__heading {
        position: absolute;
        top: 1rem;
        color: white;
        font-family: "Shrikhand";
        font-weight: normal;
        font-size: 3rem;
    }
    &__icon {
        color: white;
        font-size: 4rem;
        animation: spin 1s linear 3, fadeOut 3.5s forwards;
    }
    &__open {
        position: absolute;
        font-family: "Shrikhand";
        font-weight: normal;
        font-size: 4rem;
        color: white;
        border: 0.5rem solid white;
        border-radius: 1rem;
        line-height: 3rem;
        padding: 0.3rem 1.5rem 0 1rem;
        transform: rotate(-8deg);
        animation: opening 1s 3.5s backwards;
    }
}

@keyframes loader {
    0% {
        transform: translateY(0);
    }

    80% {
        transform: translateY(-30vh);
        animation-timing-function: cubic-bezier(.17,.67,.83,.67)
    }
    
    90% {
        transform: translateY(-60vh);
        animation-timing-function: cubic-bezier(.17,.67,.83,.67)
    }

    100% {
        transform: translateY(-100vh);
        animation-timing-function: cubic-bezier(.17,.67,.83,.67)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes opening {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}







