@import "./base/reset";
@import "./utils/variables";
@import "./utils/placeholders";
@import "./components/buttons";
@import "./base/typography";
@import "./components/cards";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/homePage";


body {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------------------- La Palette du goût --------------------------------------*/

.thumb {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: relative;
    margin-top: -30px; /* superpose le menu et l'image */
    border-radius: 2rem 2rem 0 0;
    background-color: $background-color-light;
    padding: $padding;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &__heading {
        font-size: 1.6rem;
        font-family: "Shrikhand";
        font-weight: 100;
    }
    &__category {
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
        width: fit-content;
        margin-top: 15px;
        border-bottom: 3px solid $tertiary-color;
    }
    &__card {
        @extend %card;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 $padding 0 $padding;
        cursor: pointer;
        &__details {
            font-size: 0.8rem;
        }
    }
    &__button {
        width: 186px;
        margin: 32px auto 40px auto;
    }
}







