button {
    @extend %cursor-pointer, %font-bold;
    height: 3.1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    text-align: center;
    border: none;
    border-radius: 1.6rem;
    background-color: $primary-color;
    color: white;
    box-shadow: $box-shadow;
    &:hover {
        background: linear-gradient($secondary-color, lighten($primary-color, 5%));
        box-shadow: $box-shadow-darker;
    }
}
