button {
    @extend %cursor-pointer, %font-bold;
    font-size: 1rem;
    font-weight: lighter;
    height: 3.1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    text-align: center;
    border: none;
    border-radius: 1.6rem;
    background: linear-gradient($secondary-color, $primary-color);
    color: white;
    box-shadow: $box-shadow;
    &:hover {
        background: linear-gradient(lighten($secondary-color,7%), lighten($primary-color, 7%));
        box-shadow: $box-shadow-darker;
    }
}
