/*---------------------------------------- Localisation ----------------------------------------*/
.localisation {
    @include flexBox(row, center, center);
    @extend %cursor-pointer;
    height: 3.1rem;
    font-weight: bold;
    color: #000000a6;
    background-color: $background-color;
    box-shadow: inset 0 10px 5px -5px rgba(0, 0, 0, 0.200);
    &::before {
        @extend %font-awesome;
        content: "\f3c5";
        margin-right: 0.5rem;
    }
}

/*---------------------------------------- Explore ----------------------------------------*/

.explore {
    text-align: center;
    background-color: $background-color-light;
    padding: 2.5rem 1.25rem 3rem 1.25rem;
    &__heading {
        margin-bottom: 1.25rem;
    }
    &__text {
        @extend %font-regular;
        margin-bottom: 1.9rem;
    }
}

/*---------------------------------------- How it works ----------------------------------------*/

.howItWorks {
    @extend %box-padding;
    &__heading {
        margin-bottom: 1.6rem;
    }
    &__card {
        @include flexBox(row, null, center);
        position: relative;
        @extend %card, %card--grey;
        overflow: visible;
        margin-left: 0.8rem;
        margin-bottom: 1.6rem;
        height: 4.7rem;
        &::before {
            /* Numéros */
            @include flexBox (row, center, center);
            content: "";
            position: absolute;
            left: -0.8rem;
            color: white;
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 50%;
            background-color: $primary-color;
        }
        &:hover {
            @extend %cursor-pointer;
            background-color: #f5edff;
            & > p::before {
            color: $primary-color;
            }
        }
        & p {
            font-weight: bold;
            margin-left: 5rem;
            &::before {
                /* Icones */
                @extend %font-awesome;
                content: "";            
                position: absolute;
                left: 3rem;
                color: #7e7e7e;
                margin-right: 1rem;
            }
        }
    }
}

.howItWorks__card:last-of-type {
    margin-bottom: 0;
}

/* 1,2,3 */
.howItWorks__card:first-of-type::before {
    content:"1";
}
.howItWorks__card:nth-of-type(2)::before {
    content:"2";
}
.howItWorks__card:last-of-type::before {
    content:"3";
}

/* Icons */
.howItWorks__card p:first-of-type:before {
    content: "\f3cd";
}
.howItWorks__card:nth-of-type(2) p::before {
    content: "\f0ca";
}
.howItWorks__card:last-of-type p::before {
    content: "\f54e";
}

/*---------------------------------------- Restaurants ----------------------------------------*/

.restaurants {
    @extend %box-padding;
    @include flexBox(column, null, null);
    background-color: $background-color-light;
    gap: 1.1rem;
    &__heading {
        margin-bottom: 0.3rem;
    }
    &__card {
        @extend %card;
        position: relative;
        & img {
            display: block;
            width: 100%;
            height: 11rem;
            object-fit: cover;   
        }
        &__label {
            position: relative;
            padding: 1rem 1.2rem;
            background-color: white;
            & h3 {
                margin-bottom: 0.3rem;
            }
        }
        &__new {
            @include flexBox(row, center, center);
            width: 5rem;
            height: 2rem;
            position: absolute;
            z-index: 1000;
            top: 0.7rem;
            right: 0.7rem;
            border-radius: 0.3rem;
            background-color: $tertiary-color;
            color: darken($tertiary-color, 40%);
            font-size: 0.9rem;
        }
    }
}

/* ---------------------------------------- Fav animation --------------------------------------------*/

.fav {
    position: absolute;
    font-size: 1.5rem;
    right: 1.5rem;
    top: 1.5rem;
    line-height: 0;
    &__empty-heart {
        @extend %cursor-pointer;
        position:absolute;
        right: 0;
        transition: transform 0.4s;
    }
    &__fill-heart {
        @extend %cursor-pointer;
        position: relative;
        transform: scale(0);
        transition: transform 0.4s;
        background: -webkit-gradient(linear, right top, left bottom, from($primary-color), to($secondary-color));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.fav:hover .fav__empty-heart {
    transform: scale(0);
}

.fav:hover .fav__fill-heart {
    transform: scale(1);
}
