.thumb img {
    height: 16.25rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    @include flexBox(column, null, null);
    position: relative;
    margin-top: -2rem;
    /* superpose le menu et l'image */
    border-radius: $border-radius*2;
    background-color: $background-color-light;
    padding: $padding;
    gap: 1rem;

    & section {
        @include flexBox(column, null, null);
        gap: 1rem;
    }

    &__heading {
        position: relative;
        font-size: 1.6rem;
        font-family: "Shrikhand", sans-serif;
        font-weight: normal;
    }

    &__category {
        font-size: 1rem;
        font-weight: normal;
        text-transform: uppercase;
        width: fit-content;
        margin-top: 1rem;

        &::after {
            display: block;
            content: "";
            width: 2.5rem;
            height: 0.2rem;
            background-color: $tertiary-color;
        }
    }

    &__card {
        @include flexBox(row, space-between, center);
        @extend %card, %cursor-pointer;
        height: 4.25rem;

        & div {
            width: 80%;
            padding-left: $padding;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        & h4 {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__price {
            @extend %font-bold;
            @include flexBox(row, flex-end, null);
            position: relative;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            top: 0.6rem;
            width: 20%;
        }

        &__details {
            font-size: 0.8rem;
        }
    }

    &__button {
        width: 11.5rem;
        margin: 2rem auto 2.5rem auto;
    }
}

/*------------------------------------- Animation: Fade In --------------------------------------------*/

.menu__card,
.menu__category {
    animation: fadeInMenu 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-tap-highlight-color: transparent;
}

@keyframes fadeInMenu {
    0% {
        transform: translateY(1.5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@for $item from 1 through 13 {
    .item#{$item} {
        animation-delay: $item * 0.2s;
    }
}

/*--------------------------------------- Animation : Coche -------------------------------------------*/

.menu__card__effect {
    @include flexBox(row, center, center);
    width: 0;
    height: 100%;
    background-color: $tertiary-color;
    transition: width 0.5s;
}

.menu__card__effect::after {
    @extend %font-awesome-bold;
    color: white;
    font-size: 1.6rem;
    content: "\f058";
}

.menu__card:hover .menu__card__effect {
    width: 6rem;
}

.menu__card:hover .menu__card__effect::after {
    transform: rotate(360deg);
    transition: transform 0.5s;
}

/*-------------------------------------------- Media Queries ------------------------------------------------*/

@media all and (min-width:1280px) {

    .thumb {
        height: 20rem;
    }

    .menu {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 2rem auto 3rem;
        gap: 2rem;
        padding: 2rem;
        background-color: white;

        & section {
            background-color: $background-color-light;
            border-radius: $border-radius*2;
            padding: 1rem 2rem 2rem 2rem;
        }

        &__heading {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        &__button {
            margin-top: 0;
            margin-bottom: 0;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    .fav {
        right: 2rem;
        top: 2rem;
    }
}