@mixin flexBox($directionVlaue: row, $justifyValue: center, $alignValue: center) {
    display: flex;
    flex-direction: $directionVlaue;
    justify-content: $justifyValue;
    align-items: $alignValue;
  }