/* Colors */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #eaeaea;
$background-color-light: #f6f6f6;

/* Padding & Margin */

$padding: 1.25rem;

/* Borders */
$border-radius: 1rem;

/* Shadows */
$box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0.2);
$box-shadow-darker: 0 0.3rem 0.6rem 0 rgba(0,0,0,0.4);

