.footer {
    padding: 25px 20px 35px 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #353535;
    &__heading {
        font-family: "Shrikhand";
        font-size: 1.2em;
        font-weight: 100;
        margin-bottom: 15px;
    }
    & a {
        display: block;
        margin-bottom: 5px;
        color: white;
        &:hover {
            color: $tertiary-color;
        }
    }
}

.footer a:first-of-type::before {
    margin-right: 1rem;
    @extend %font-awesome;
    content:"\f2e7";
}

.footer a:nth-of-type(2)::before {
    margin-right: 0.55rem;
    @extend %font-awesome;
    content:"\f4c4";
}