header {
    @extend %flex-center;
    position: relative;
    height: 60px;
    & h1 {
        font-family: "Shrikhand";
        font-weight: normal;
        &:hover {
            color: $primary-color;
        }
    }
}

.arrow::before {
    @extend %font-awesome;
    content:"\f060";
    position: absolute;
    bottom: 1.2rem;
    left: 1.5rem;
}

.arrow:hover::before {
    color: $primary-color;
}
