header {
    @extend %flex-center;
    position: relative;
    height: 60px;
    & h1 {
        font-family: "Shrikhand";
        font-weight: normal;
        &:hover {
            color: $primary-color;
        }
    }
}
