header {
    @include flexBox (row, center, center);
    position: relative;
    height: 3.75rem;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.100);

    & h1 {
        font-family: "Shrikhand", sans-serif;
        font-weight: normal;

        &:hover {
            color: $primary-color;
        }
    }
}

.arrow::before {
    @extend %font-awesome-bold;
    content: "\f060";
    position: absolute;
    bottom: 1.2rem;
    left: 1.5rem;
}

.arrow:hover::before {
    color: $primary-color;
}

@media all and (min-width: 1280px) {
    header {
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.200);
        border-radius: 0 0 2rem 2rem;
    }
}